.title {
  color: #457abf;
  font-size: 2rem;
  text-align: center;
}

.img-susana {
  width: 300px;
  display: block;
  margin: auto;
}

.text-block {
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.info {
  font-size: 1.5rem;
}

h3 {
  color: #457abf;
}
