.imagen {
  max-width: 200px;
  width: 100%;
}

.card-columns {
  padding-top: 10px;
  /* @include media-breakpoint-only(lg) {
    column-count: 5;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  } */
}

span{
  float:right
}
span:hover {
  color: darkblue;
}
.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1b7ced;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #2a9df4}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}