.nav {
  overflow: hidden;
  background-color: #333;
  color: white;
  text-decoration: none;
}

.nav button {
  float: right;
}

.link {
  text-decoration: none;
}

.user {
  float: right;
  color: white;
  font-size: 2rem;
}
